.root {
  display: block;
  width: 900px;
}
header {
	background: #00BFFF;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 15px 20px;
}
header button {
	background: transparent;
	color: #fff;
	font-size: 18px;
	border: 0px;
	cursor: pointer;
	transition: 0.3s;
	margin: auto 0px;
}
header span {
	color: #fff;
	font-size: 18px;
	margin: auto 0px;
}
.root ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 500px;
	overflow: auto;
	width: 35%;
	display: inline-block;
	vertical-align: top;
}
.bottomBtn {
	width: 35%;
	display: inline-block;
	vertical-align: top;
}

footer {
	width: 100%;
	background: #00BFFF;
	height: 1px;
}
