.root-friends {
	padding: 10px 25px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	cursor: pointer;
	transition: 0.3s;
}
.root-friends:hover {
	background: #DCDCDC;
}
.friend-avatar {

}
.friend-avatar img {
	border-radius: 25px;
	overflow: hidden;
}
.friend-name {
	text-align: left;
	width: 150px;
}
.friend-name span {
	display: block;
}
.friend-name span:last-child {
	margin-top: 10px;
	color: #C0C0C0;
	font-size: 12px;
}
.friend-status {
	float: right;
	height: 5px;
	width: 5px;
	border-radius: 2.5px;
	overflow: hidden;
	background: #00FF00;
}
.friend-online {
	background: #00FF00;
}
.friend-offline {
	background: #FF0000;
}