.root-input-message {
	display: inline-block;
	width: 65%;
	vertical-align: top;
}
.root-input-message input[type=text] {
	width: 85%;
	border: 0px;
	font-size: 18px;
	padding: 17px 0px;
}
.root-input-message input[type=text]:focus {
	outline: none;
}
.root-input-message button {
	width: 15%;
	padding: 17px 0px;
	background: transparent;
	border: 0px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
	color: #00BFFF;
}
.root-input-message button:focus {
	outline: none;
}